html,
body {

  margin: 0;

  padding: 24px;

  background: #040506;

  font-family: Inter, sans-serif;
}

.player-wrapper {

  border-radius: 28px;

  overflow: hidden;

  box-shadow:
    0 20px 60px rgba(0,0,0,.45);
}

/* dark mode */

@media (prefers-color-scheme: dark) {

  html,
  body {

    background: #040506;
  }
}

/* light mode */

@media (prefers-color-scheme: light) {

  html,
  body {

    background: #edf0ef;
  }
}